*{
  margin: 0px;
  padding: 0px;
  
}

body{
  width: 100%;
  height: 100%;
}

.head{
  display: flex;
  position: fixed;
  width: 100%;

  filter: grayscale(100%) opacity(90%);
}

.logo{
  display: block;
  height: auto;
  width: 180px;

  margin: 15px;
  margin-left:90px;
}

.one{
  display: flex;

  width: 100%;
  margin-top: 31px;
  margin-left: 18px;

  color: white;
}

.one div{
  padding-right: 20px;
}


.two{
  display: flex;
  justify-content:end;
  align-items: center;
  width: 100%;
  margin-right: 100px;

}
.search{
  border: 1px solid white;
  border-radius: 3px;

  width: 60%;
  height: 30px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  background-color: transparent;

  padding: 3px;
  padding-left: 2px;
  margin-right: 20px;
}

input::placeholder {
  color: white;
}

.login{
  color:white;
  font-size: 15px;
  margin-right: 20px;
}
.join{
  border: 1px solid white;
  border-radius: 7px;

  width: 80px;
  height: 25px;

  text-align: center;
  padding-top: 2px;

  color: white;
  font-size: 13px;
  font-weight: bold;
}

.pho{
  width: 100%;
  height: 400px;
}
.bround{
  width: 100%;
  height: 220px;
  background-color: white;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.poster{
  position: absolute;
  display: flex;

  margin-left: 280px;
  margin-top: -35px;

  width: 165px;
  height: 230px;

  border: 3px solid rgb(252, 242, 242);
  border-radius: 5px;
}
.a{
  font-size: 30px;
  font-weight: bolder;

  margin-left: 470px;
  margin-top: 15px;
}
.b{
  font-size: 18px;
  color: gray;

  margin-left: 470px;
  margin-top: 10px;
}

.d{
  margin-left: 470px;
}

.c{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(206, 206, 206);
  margin: 10px;
  margin-left: 470px;

  width: 800px;
}

.e{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(206, 206, 206);
  margin: 10px;
  margin-left: 470px;

  width: 800px;
}


.add{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-right: 250px;
  margin-left: 700px;
  margin-top: -35px;

  font-size: 14px;
  font-weight: bold;
  width: 455px;
  height: 60px;

  border-left: 1px solid rgb(206, 206, 206);

}
  .add a:visited{
    color:rgb(90, 88, 88);
  }
  .add a:link{
    color:rgb(90, 88, 88);
  }
  .add a:hover{
    color:rgb(90, 88, 88);
  }


.add a{
  margin-left: 40px;
}

.main{
  background-color: rgba(244, 244, 244, 0.807);
  display: flex;

}


.box{
  display: block;

  border: 1px solid rgb(206, 206, 206);
  background-color: white;
  border-radius: 6px;

  width: 640px;
  height: 1030px;

  margin-left: 240px;
  margin-top: 35px;
}

.box1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 30px;
}

.box1 a:visited{
  color: #ff0558;
}
.box1 a:link{
  color:#ff0558;
}
.box1 a:hover{
  color:#ff0558;
}

.aa{
  font-weight: 700;
  font-size: 19px;
}


.box2{
  display: block;
  position: absolute;

  margin: 0px 30px;

  font-size: 15px;

  line-height: 25px;
}

.box3{
  display: block;

  font-size: 14px;
  line-height: 21px;
  margin: 120px 30px 40px 30px;

  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient:vertical;
  overflow: hidden;
}
.g{
  display: block;
  
  border-top: 1px solid rgb(206, 206, 206);

  margin-left: 30px;
  
  width: 580px;
}

.boxx{
  display: flex;
  flex-direction: row;

  margin-bottom: 30px;
}

.inbox{
  display: block;
  margin: 30px;

  font-weight: 700;
  font-size: 19px;
}

.inbox2{
  display: flex;

}

.mini2{
  margin-left: 20px;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.name{
  font-weight: bold;
  width: 200px;
}
.bb{
  font-size: 12px;
  color: gray;

  margin-top: 12px;
}

.photo{
  border: 1px solid black;
  border-radius: 6px;
  background-color: gray;

  display: block;

  margin-left: 30px;

  width: 60px;
  height: 60px;
}

.box5{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 60px 30px 30px 30px;
}

.box5 a:visited{
  color: #ff0558;
}
.box5 a:link{
  color:#ff0558;
}
.box5 a:hover{
  color:#ff0558;
}

.last{
  overflow-x: scroll;
}
.box6{

  display: flex;
  flex-direction: row;
    margin-left: 30px;
}

.rew{
  width: 280px;
  height: 270px;
  border: 1px solid gainsboro;
  background-color: gainsboro;
  border-radius: 6px;
}


.rehead{
  display: flex;
}
.circle{
  display: block;
  border-radius: 50%;
  background-color: white;

  width: 40px;
  height: 40px;

  margin: 15px 5px 15px 15px;
}
.id{
  display: block;
  font-size: 17px;
  width: 120px;
  margin: 25px 0px 0px 5px;
}
.point{
  display: block;
  border-radius: 50px;
  border: 2px solid rgb(184, 184, 184);
  background-color: white;

  width: 60px;
  height: 25px;

  text-align: center;

  margin: 25px 15px 15px 15px;
}
.f{
  border: 1px solid silver;
}
.remain{
  margin: 15px 15px 60px;
  height: 65px;
}
.refoot{
  display: flex;

  font-size: 17px;
  font-weight: 500;
  margin: 15px;
}

.side{
  display: flex;
  position: absolute;
  flex-direction: column;

  left: 910px;
  top: 671px;
  
  margin-right: 240px;

  width: 350px;
  height: 270px;

  border: 1px solid gainsboro;
  background-color: white;
  border-radius: 6px;

}
.poster2{

  width: 100%;
  height: 180px;

  background-color: rgb(49, 49, 172);
  border-radius: 6px 6px 0px 0px ;
}
.inbox-1{
  display: flex;
  justify-content: space-between;
}
.inbox-2{
  margin: 15px 0px 30px 15px;
}

.a-1{
  font-size: 17px;
  font-weight: 700;
}
.a-2{
  font-size: 14px;
  color: gray;
}

.a-3{
  border: 1px solid #ff0558;
  background-color: #ff0558;
  border-radius: 6px;
  color: white;

  width: 80px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20px 15px 0px 0px;
}

.side2{
  display: flex;
  position: absolute;
  flex-direction: column;

  left: 910px;
  top: 965px;
  
  margin-right: 240px;

  width: 350px;
  height: 410px;

  border: 1px solid gainsboro;
  background-color: white;
  border-radius: 6px;
}
.inbox-1-title{
  font-size: 20px;
  font-weight: bolder;

  margin: 20px;
}
.inbox-2-photo{
  display: flex;
  margin-left: 17.5px;

  padding-bottom: 30px;
  border-bottom: 1px solid rgb(206, 206, 206);

}
.photo-1{
  width: 150px;
  height: 110px;

  border: 1px solid gainsboro;
  background-color: gainsboro;
  border-radius: 6px;
}
.photo-2{
  width: 150px;
  height: 110px;

  margin: 0px 0px 0px 15px;

  border: 1px solid gainsboro;
  background-color: gainsboro;
  border-radius: 6px;
}
.video{
  width: 150px;
  height: 110px;
  margin: 0px 0px 0px 15px;

  border: 1px solid gainsboro;
  background-color: gainsboro;
  border-radius: 6px;
}

.star {
  position: relative;
  font-size: 2rem;
  color: #ddd;
  margin: 500px;
}

.star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.star span {
  width: 0;
  position: absolute; 
  left: 0;
  color: red;
  overflow: hidden;
  pointer-events: none;
}

