*{
  margin: 0px;
  padding: 0px;
}

.headbox{
  display: flex;
  justify-content: center;
}

.lang{
  border: 1px solid black;
  
}

.title{
  font-size: 60px;
  font-weight: bolder;
  color: #2DB400;
}